<div class="container-nueva-receta">
  <h4 class="h2-color-1 titulo-nueva-receta">Pasos</h4>

  <ng-container *ngFor="let s of store.steps(); trackBy: trackById; let i = index">
    <div class="receta-inputs ingrediente-container">
      <div class="input-container">
        <label>Descripción del paso</label>
        <textarea rows="3" placeholder="Describe tu paso"
                  [value]="s.description"
                  (input)="editStepDesc(i, $event)"></textarea>
      </div>
    </div>
  </ng-container>

  <button class="btn-personalizado secundario" type="button" (click)="addStep()">+ Agregar paso</button>

  <div class="linea-dashed"></div>

  <h4 class="h2-color-1 titulo-nueva-receta">Consejos útiles</h4>

  <ng-container *ngFor="let t of store.tips(); trackBy: trackById; let i = index">
    <div class="receta-inputs ingrediente-container">
      <div class="input-container">
        <label>Descripción del consejo</label>
        <textarea rows="3" placeholder="Comparte un consejo"
                  [value]="t.description"
                  (input)="editTipDesc(i, $event)"></textarea>
      </div>
    </div>
  </ng-container>

  <button class="btn-personalizado secundario" type="button" (click)="addTip()">+ Agregar consejo</button>

  <div class="linea-dashed"></div>

  <div class="receta-btn-avance">
    <a routerLink="../step-2" class="btn-personalizado secundario" (click)="store.persistDraft()">Anterior</a>
    <a class="btn-personalizado primario" (click)="finalizarYVer()">Finalizar</a>
  </div>
</div>
